<tr style="background-color: #eeeeee">
    <td colspan="13">
        <h3 style="color: black;padding:4px">@ViewBag.CompanyName</h3>
        <p style="color:black;padding-left:4px">@ViewBag.CompanyAddress<br /> @ViewBag.CompanyAddress2</p>
    </td>
    <td colspan="7" style="color: black;padding:8px" align="right">
        Powered By<br />Alchemy Software
    </td>
</tr>
